@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Creative - Start Bootstrap Theme</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/creative.css" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
$(document).ready(function() {
	//select all the a tag with name equal to modal
	$('a[name=modal]').click(function(e) {
		//Cancel the link behavior
		e.preventDefault();
		//Get the A tag
		var id = $(this).attr('href');
		//Get the screen height and width
		var maskHeight = $(document).height();
		var maskWidth = $(window).width();
		//Set heigth and width to mask to fill up the whole screen
		$('#mask').css({'width':maskWidth,'height':maskHeight});
		//transition effect
		$('#mask').fadeIn(1000);
		$('#mask').fadeTo("slow",0.8);
		//Get the window height and width
		var winH = $(window).height();
		var winW = $(window).width();
		//Set the popup window to center
		$(id).css('top',  winH/2-$(id).height()/2);
		$(id).css('left', winW/2-$(id).width()/2);
		//transition effect
		$(id).fadeIn(2000);
	});
	//if close button is clicked
	$('.window .close').click(function (e) {
		//Cancel the link behavior
		e.preventDefault();
		$('#mask, .window').hide();
	});
	//if mask is clicked
	$('#mask').click(function () {
		$(this).hide();
		$('.window').hide();
	});
});
    </script>
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Prime Devenge</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                @*<h1>Your Favorite Source of Free Bootstrap Themes</h1>*@
                <img src="~/img/PrimeDevenge.png" width="70%" height="70%" />
                <p>
                    <table align="center" width="40%">
                        <tr>
                            <td width="25%">
                                <img src="~/img/android_logo.png" width="50%" />
                            </td>

                            <td width="25%">
                                <img src="~/img/_2505699.png" width="61%" />
                            </td>
                            <td width="25%">
                                <img src="~/img/world-512.png" width="60%" />
                            </td>
                            <td width="25%">
                                <img src="~/img/apple-logo.png" width="50%" />
                            </td>
                        </tr>
                    </table>
                </p>
                <hr>
                <p>We are a young team of IT engineers. Our purpose is to develop and support hight quality software on time.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">
                        Our team consists of young ambitious certified specialists ready to create new program products and maintain them. Every task means a great deal to us and we put quality above all else. Prime devenge team is constantly improving learning new technologies to achieve better results. Each of us has great spatial reasoning and mathematical skills. It helps us find satisfactory solution.
                        @* ABOUT US *@
                        <h2>Ivan Vertegel</h2>
                        <table>
                            <tr>
                                <td width="30%">
                                    <div id="wrap">
                                        <div id="content" class="clearfix">
                                            <span class="link"> <a href="#dialog1" name="modal"><img src="~/img/Vsailor.jpg" width="100%" /></a> </span>
                                            <div id="boxes">
                                                <div id="dialog1" class="window">
                                                    <img src="~/img/Vsailor.jpg" />
                                                </div>
                                                <div id="mask"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td align="left" valign="top">
                                    <div class="Marge">
                                        <h4>Position: <br />.NET developer, team lead</h4>
                   
                                        <h4>Skills: <br />.NET Framework, Unity3D, ASP.NET, Entity Framework, WPF, Win Forms, SQL</h4>

                                        <h4>Education:
                                        <br />
                                        National Taras Shevchenko university in Kyiv
                                        <br />
                                            Math speciality
                                        </h4>
                                    </div>

                                </td>
                            </tr>
                        </table>

                        <h2>Dionisiy Pikushiy</h2>
                        <table>
                            <tr>
                                <td width="30%">
                                    <div id="wrap">
                                        <div id="content" class="clearfix">
                                            <span class="link"> <a href="#dialog2" name="modal"><img src="~/img/datrax.png" width="100%" /></a> </span>
                                            <div id="boxes">
                                                <div id="dialog2" class="window">
                                                    <img src="~/img/datrax.png" />
                                                </div>
                                                <div id="mask"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td align="left" valign="top">
                                    <div class="Marge">
                                        <h4>Position: <br />.NET developer</h4>

                                        <h4>Skills: <br />.NET Framework, Unity3D, ASP.NET, Entity Framework, WPF, Win Forms, SQL, JavaScript, jQuery</h4>
                                        <h4>
                                            Education:
                                            <br />
                                            National Technical University of Ukraine "Kyiv Polytechnic Institute"я
                                            <br />
                                            Informational designing technologies speciality
                                        </h4>

                                    </div>

                                </td>
                            </tr>
                        </table>

                        <h2>Khrystyna Romanyshyn</h2>
                        <table>
                            <tr>
                                <td width="30%">
                                    <div id="wrap">
                                        <div id="content" class="clearfix">
                                            <span class="link"> <a href="#dialog3" name="modal"><img src="~/img/khrystyna.png" width="100%" /></a> </span>
                                            <div id="boxes">
                                                <div id="dialog3" class="window">
                                                    <img src="~/img/khrystyna.png" />
                                                </div>
                                                <div id="mask"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td align="left" valign="top">
                                    <div class="Marge">
                                        <h4>Position: <br />QA engineer, designer</h4>

                                        <h4>Skills: <br />QA, Adobe Photoshop, SQL</h4>

                                        <h4>
                                            Education:
                                            <br />
                                            National Taras Shevchenko university in Kyiv
                                            <br />
                                            Math speciality
                                        </h4>
                                    </div>

                                </td>
                            </tr>
                        </table>

                        @* END *@
                    </p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div> 
       <table align="center" width="60%">
           <tr>
               <td align="center" width="33%">
                   <img src="~/img/mobiledev.png" width="30%"/>
               </td>
               <td align="center" width="33%">
                   <img src="~/img/WinDev.png"  width="30%"/>
               </td>
               <td align="center" width="33%">
                   <img src="~/img/WebsiteDev.png"  width="30%"/>
                </td>
           </tr>
           <tr>
               <td align="center">
                   <h3>Mobile game development</h3>
               </td>
               <td align="center">
                   <h3>
                       Desktop<br /> development
                   </h3>
               </td>
               <td align="center">
                   <h3>
                       Web-site<br /> development
                   </h3>
               </td>
           </tr>

       </table>
    </section>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://youtu.be/lZG3Cc8-oAs" target="_blank" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Mobile game
                                </div>
                                <div class="project-name">
                                    Matches
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Contact us on skype or email and we will get back to you as soon as possible!</p>
                </div>
                <table align="center" width="80%">
                    <tr>
                        <td align="center" width="50%">
                            <a href="skype:primedevenge?chat"><img src="~/img/Skype-icon.png" width="20%"></a>
                        </td>
                        <td align="center" width="50%">
                            <a href="mailto:primedevenge@gmail.com"><img src="~/img/Gmail-icon.png" width="20%" /></a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <h3><a href="skype:primedevenge?chat">primedevenge</a></h3>
                        </td>
                        <td align="center">
                            <h3>
                                <a href="mailto:primedevenge@gmail.com">primedevenge@gmail.com</a>
                            </h3>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="~/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.fittext.js"></script>
    <script src="~/js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/js/creative.js"></script>
</body>
</html>
